body{
  overflow:hidden;
  width: 100%;
}
.background{
  background-size: cover;
  height: 100vh;
  position: absolute;
  top: 0;
  justify-content: center;
  margin: 0 auto;
}
.container {
  display: flex; /* Make the container a flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
  margin: 0 auto; /* This can still be useful for centering the container itself if it has a defined width */
}

.sect-all {
  background-color: #d9a441;
  
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  height: 70rem;
  border-radius: 50%;
  width: 70rem;

  margin: 50vh;
  /* justify-self: center; is for grid items, not relevant for centering the grid container itself within a flex container */
}