body {
  width: 100rem;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* 👈 Keeps the background in place */
  color: #5c3a21;
  font-family: "Cormorant Garamond", serif;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  width:100%;
  height:100vh;
}
.circle{
  height: 90%;
  margin-right: 0px;
  width:90vh;
  background-color:#5c3a21;
  border-radius:50%;
}
