body {
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* 👈 Keeps the background in place */
  color: #5c3a21;
  overflow-y: hidden;
  font-family: "Cormorant Garamond", serif;
}
.logo-img{
  z-index: 30;
}

.container {
  height:100vh;
  display:grid;
  margin: 0 auto;
  width:100%;
}
.breakfast{
  background-color:#f8f4ed;
  width: 100%;
  position: absolute;
  height:20rem;
  top:30%;
}
.sub-head{
  position: absolute;
  top: 20%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 700;
  justify-self: center;
}
.scroll-img{
  width:10rem;
  height: 10rem;
  padding:10px;
}
.scroll{
  display: flex;
  width:100%;
  overflow-x: scroll;
  height:12rem;
}